__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
logs/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
